/***FONTS FOR PROGRAM****/
@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  src: local('Oswald'), url('../fonts/Oswald-Regular.ttf');
}

@font-face {
  font-family: ShareTechMono;
  font-style: normal;
  font-weight: 400;
  src: local('ShareTechMono'), url('../fonts/ShareTechMono-Regular.ttf');
}

/****Basic styling per tags****/

body {
  font-family: Oswald;
  background: grey;
  background: linear-gradient(grey, lightgrey);
}

h1 {
  font-family: ShareTechMono;
  text-shadow: 2px 2px 8px white;
  text-align: center;
  padding-bottom:3.5% ;
  font-size: 4.5em;
}

h4{
  text-shadow: 2px 2px 8px white;
}

form {
  align-content: center;
}

footer {
  padding-top: 2%;
  text-shadow: 2px 2px 8px grey;
  text-align: center;
}

/****ID Stylings****/

/****Class Stylings****/
.status-graph-div {
    padding-top: 4.5%;
    padding-bottom: 4.5%;
}

.status-graph {
  height: 400px;
  width: 400px;
}


.add-loaner {
  margin-top: 2%;
}

.update-text{
  opacity: 0.5;
}

.loaner-area{

}

.loaner-name {
  font-family: ShareTechMono;
  font-size: 2.5em;
  text-shadow: 2px 2px 8px grey;
}

.status-button {
  margin-top: 5%;
}
