/***FONTS FOR PROGRAM****/
@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  src: local('Oswald'), url('../fonts/Oswald-Regular.ttf');
}

@font-face {
  font-family: ShareTechMono;
  font-style: normal;
  font-weight: 400;
  src: local('ShareTechMono'), url('../fonts/ShareTechMono-Regular.ttf');
}

/****Basic styling per tags****/

body {
  font-family: Oswald;
  background: grey;
  background: linear-gradient(grey, lightgrey, grey);
}

h1 {
  font-family: ShareTechMono;
  text-shadow: 2px 2px 8px white;
  text-align: center;
  padding-bottom:3.5% ;
  font-size: 4em;
}

h3{
  font-family: ShareTechMono;
  text-shadow: 2px 2px 8px white;
}

form {
  align-content: center;
}

footer {
  padding-top: 2%;
  text-shadow: 2px 2px 8px white;
  text-align: center;
}

/****Class Stylings****/

.p-graph {
  color: red;
}

.status-graph {
  height: 400px;
  width: 400px;
}

.loaner-pc {
  /*background-color: pink;*/
  border-bottom: 1px dotted black;
  /*background: linear-gradient(grey, lightgrey, grey);*/

}

/*.add-loaner{
  color: red;
}*/

.status-button {
  align: right;
}
