
<clickFunctions class="container">
    <div ng-repeat="loaner in data">
      <div class="loaner-pc">
        <span ng-model="id" ng-click="updateStatus()">{{loaner.pcName}}</span>

        <span class="btn btn-success" ng-click="updateStatus(loaner._id)">{{loaner.pcStatus}}</span>
        <form class="">
          <input type="text" ng-model="loaner.pcName" placeholder="PC Name"/>
          <button class="add-loaner" ng-click="updateLoaner(loaner)" type="submit">Update Name</button>
        </form>

        <button class="" ng-click="deleteLoaner(loaner._id)">Delete Loaner</button>
      </div>
    </div>
    <div>
      <form class="col-md-6 center-block">
        <label for="add-loaner">Please add a loaner here - </label>
        <input id="add-loaner" type="text" ng-model="newPcName" placeholder="PC Name"/>
        <button class="add-loaner" ng-click="newPc()" type="submit">Add A Loaner</button>
      </form>
    </div>
</clickFunctions>
