doctype html
html(ng-app="loanerInvApp")
  head
    link(rel='stylesheet',href='/css/bootstrap.min.css', type='text/css')
    link(rel='stylesheet',href='/css/style.css', type='text/css')
    script(src="/node_modules/angular/angular.min.js")
    title=title
    body  
      div()
        h1 Loaner Tracking Application

      div(class='container')
        div(class='col-md-6')
          img(src='/img/rebels.jpg' class='img-responsive img-circle center-block status-graph')
        div(class='col-md-6')
          loan-inv
    
      footer
        Built by Mordecai Designs &copy;2017
