extends ./layout.pug
block content
    h1=message

    p(class='p-graph') Craft beer drinking vinegar cray mlkshk heirloom, echo park 90's fanny pack artisan woke ramps trust fund tacos pitchfork gastropub. Drinking vinegar cornhole meh, swag fanny pack street art messenger bag. Viral fingerstache snackwave pop-up, YOLO fap swag chillwave sustainable listicle glossier butcher edison bulb. Chartreuse slow-carb ramps, YOLO lumbersexual umami stumptown sustainable pug fap actually. Yr unicorn YOLO, lumbersexual sustainable kogi salvia irony lo-fi man braid skateboard tumeric. Skateboard green juice edison bulb, keytar paleo fingerstache fam. Swag 90's kinfolk, tousled skateboard slow-carb meggings chicharrones glossier tbh neutra.
