doctype html
html(ng-app="myApp")
  head
    link(rel='stylesheet',href='/css/bootstrap.min.css', type='text/css')
    link(rel='stylesheet',href='/css/style.css', type='text/css')
    script(src="/node_modules/angular/angular.min.js")
    script(src="/node_modules/angular-route/angular-route.min.js")
    script(src="/js/loanerInv.component.js")
    script(src="/js/controllers/ListLoanerController.js")
    title=title
    body(ng-controller="ListLoanersController")  
      div(class="col-md-12")
        h1 Loaner Tracking Application

      div(class="col-md-12 status-graph-div")
        div(class='col-md-6')
          img(src='/img/rebels.jpg' class="img-responsive img-circle center-block status-graph")
        div(class="col-md-6 center-block" ng-view)
        //- div(class='center-block' ng-view)
          
    
      footer(class="col-md-12")
        Built by Mordecai Designs &copy;2017
